
/*スマホ画面フォントサイズ変更*/
@media screen and (max-width: 767px) {
  body {
    font-size: 29px;
    text-align: center;
  }
  .svgfile{
    width: 40px;
    height: 30px;
  }


  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #11131f; /* フッターの背景色を設定 */
    text-align: center;
    padding: -px; /* 適切なパディングを設定 */
    color: aliceblue;
    padding-top: 4px;
    color: aliceblue;
    border-top: 5px solid #ffffff;


  }
  .footer_elem{
    margin-top: 20px;
    font-size: 60px;
    
    
  }
  ul{
    font-size: 35px;
  }

  .app-theme1{
    margin-bottom: 5px;
  }
  
  .q_00{
    margin-top: 0px;
    margin-bottom: 30px ;

  }


  .sns {
    width: 50px;
    height: 50px;
    
  }

  


}

/*PC画面*/
@media screen and (min-width: 768px) {
  body {
    font-size: 60px;
    text-align: center;
  }  
  .svgfile{
    width: 66px;
    height: 50px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #11131f; /* フッターの背景色を設定 */
    text-align: center;
    padding: 5px; /* 適切なパディングを設定 */
    color: aliceblue;
    border-top: 3px solid #ffffff;
    
    
  }

  .app-theme1{
    margin-bottom: 10px;
  }







  
  .menu_box {
    background-color: #11131f;
    color: aliceblue;
    border-radius: 10px;
    border: 3px solid #ffffff;
    background-color: #181818;
    margin:  auto; /* 水平方向に中央寄せ */
    width: 600px;
  }


}

/*header*/
.head_name{
  margin: 0;
  font-size: 25;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;

  background-color: #000000;
  letter-spacing: 10px;
  border: 4px solid #ffffff;



}





body{
   font-family: 'DotGothic16', sans-serif;
   font-weight: bold;
   color: rgb(255, 255, 255);
   /*レンガ背景*/
   background-image: url(maptile_ishizukuri_gray_01.png);
   background-repeat: repeat;
}

.menu_box {
  
  background-color: #11131f;
  color: aliceblue;
  border-radius: 10px;
  border: 6px solid #ffffff;
  background-color: #181818;
  

  

  

}


.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #555555;
  border-right: 0;
}


li {
  color: #ffffff;

}

a{
  text-decoration: none;
  color: rgb(255, 255, 255)
}



ul {
  list-style-type: "";
  padding: 0;
  text-align: justify;
  color: aliceblue;
  /*text-align-last: justify;  最終行も中央揃えにします */
  margin: 0;
  
}






.triangle{
  font-family: 'DotGothic16', sans-serif;
}


.ddddd  {
  background-color: #000000;
  border-radius: 15px;
  border: 6px solid #ffffff;
  margin-bottom: 30px;
  
}


.return{
  background-color: #000000;
  border-radius: 12px;
  border: 6px solid #ffffff;
  margin-top: 40px;
}


.q_00{
  background-color: #000000;
  border-radius: 12px;
  border: 6px solid #ffffff;
  margin-top: 0px;
}

.PVV {
  font-size: 40px;
  margin: 0;
  font-weight: 900;
}




.sns {
  width: 50px;
  height: 50px;
  
}
.sns_box{
  display: flex;
  justify-content: center;
  gap: 6px;






}


.footer_elem{
  margin: 0px;
  font-size: 41px;

}


.ttt {
  margin: 0px;
  font-size: 30px;
}